<div class = "row">
	<div class ="col-lg-12">
		<h1 class = "text-center">CLASS UI</h1>
		<hr>
	</div>
	<!-- <div class = "col-lg-12">
		<div class ="table-responsive">
			<table class = "table table-condensed">
				<thead>
					<tr>
						<td class="text-center">
							<strong>Question</strong>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "table in question.name">
						<td class = "text-center">{{question.name}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div> -->
	<h1>
		{{dashboardCtrl.className}}
	</h1>
	<div class = "col-lg-12">
		<label for="">Join this classroom with this access code: </label>
		<h1 class = "text-center">{{dashboardCtrl.classCode}}</h1>
	</div>
		<div class = "col-lg-12">
			<label for="">Current Question: </label>
			<h1 class = "text-center">{{dashboardCtrl.currentQuestion}}</h1>
		</div>
		<button ng-click="dashboardCtrl.clearQuestion()">Clear question</button>
	</div>
</div>
