	<div class = "row">
		<div class ="col-lg-12">
			<h1 class = "text-center">CLASS UI</h1>
			<hr>
		</div>
		<div class = "col-lg-12">
			<div class ="table-responsive">
				<table class = "table table-condensed">
					<thead>
						<tr>
							<td class="text-center">
								<strong>Question</strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "table in question.name">
							<td class = "text-center">{{question.name}}</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
		<div class = "col-lg-12">
			<h1 class = "text-center">Current Question</h1>
			<hr>
			<h2>{{question.name}}</h2>
			<!-- Place Chart Here
			<label for = "yes"></label>
			<div id = "yes"></div>
			<label for = "no"></label>
			<div id = "no"></div>
		  -->
		</div>
	</div>
</div>
