$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

label {
  font-weight: lighter;
}

.panel-title {
  font-weight: lighter;
}

.identity {
  font-size: 20px;
  width: 300px;
}

.btn {
  font-size: 18px;
  display: inline-block;
  padding: 15px 30px;
  color: white;
  border: 2px solid transparent;
  border-radius: 2px;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover, .btn:focus {
  color: white;
}
.btn.btn-blue {
  background: #00BCD4;
  border-color: #fff;
  border-width: thick;
  font-weight: bold;
}
.btn.btn-blue:hover {
  background: #00838F;
}
.btn.btn-blue-fill {
  color: #00838F;
  border-color: #00a8ff;
  background: transparent;
}
.btn.btn-blue-fill:hover {
  color: white;
  background: #00a8ff;
}
.btn.btn-white-fill {
  color: #fff;
  border-color: #fff;
  border-width: medium;
  font-weight: bold;
}
.btn.btn-white-fill:hover {
  color: #fff;
  font-weight: bold;
  background: #4DD0E1;
}
.btn.btn-darkblue-fill {
  color: #fff;
  font-weight: bold;
  border-color: #fff;
  border-width: thick;
  background: #00B8D4;
}
.btn.btn-darkblue-fill:hover {
  color: #0081c4;
  border-color: #0081c4;
  background: #fff;
}
.btn.btn-gray-fill {
  color: #fff;
  border-color: #fff;
  background: transparent;
}
.btn.btn-gray-fill:hover {
  border-color: #bbb;
  background: #bbb;
}
::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}
::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  .container-wide {
   width: 90%;

  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
