<div class="row">
  <div class="col-md-12">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sign Up</h3>
      </div>
      <div class="panel-body">
        <form role="form" ng-submit="login()">
          <fieldset>
            <div class="form-group text-center">
              <label for = "identity">Your Identity</label><br>
              <select ng-init="enrolCtrl.formData.userRole='student'" ng-model="enrolCtrl.formData.userRole" id = "identity">
                <option value = "prof">Professor</option>
                <option value = "student" selected>Student</option>
              </select>
            </div>

            <div ng-if="enrolCtrl.formData.userRole === 'student'">
              <div class="form-group text-center">
                <label for = "accesscode">Enter Your Access Code</label>
                <input type="text" class="form-control" id="accesscode" ng-model="enrolCtrl.formData.accesscode" placeholder="ex. Enter 6 Digit Access Code" autofocus required>
              </div>
            </div>

            <div ng-if="enrolCtrl.formData.userRole === 'prof'">
              <div class="form-group text-center">
                <label for = "class">Your Class Name</label>
                <input type="text" class="form-control" id="class" ng-model="enrolCtrl.formData.class" placeholder="Your class" autofocus required>
              </div>
            </div>

            <div class="form-group text-center">
              <label for = "username">Create a Username</label>
              <input type="username" class="form-control" id="username" ng-model="enrolCtrl.formData.username" placeholder="ex. jhylee95" autofocus required>
            </div>
            <div class="form-group text-center">
              <label for = "pwd">Create a Password</label>
              <input type="password" class="form-control" id="pwd" ng-model="enrolCtrl.formData.password" placeholder="Your Password" required>
            </div>

            <!-- Change this to a button or input when using this as a form -->
            <center><button type="submit" class="btn btn-blue" ng-click="enrolCtrl.signUp($event)">Submit</button></center>
            <!-- <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a> -->
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
