<div class="ngdialog-content">
	<div class="ngdialog-message">
		<h2>The: Current Question</h2>
		<hr>
		<p>
			What is the square root of 30 divided by 35, multiplied by the first perfect square?
		</p>
		<hr>
	</div>
	<div class="ngdialog-buttons mt">
		<p>Good Question?</p>
		<div class="col-md-6 text-center">
			<button type="button" class="btn btn-blue" ng-click="next()">Yes</button>
		</div>
		<div class="col-md-6 text-center">
			<button type="button" class="btn btn-blue" ng-click="next()">No</button>
		</div>
	</div>
</div>
